**/__pycache__
**/__history__
**/__cached__
**/init-molecule
**/notebooks
**/data
**/cases/**/logs
**/cases/**/results
**experiments/affinity_predictor_generality
**experiments/conditional_**
dsdp/DSDP_main
dsdp/DSDP
**checkpoints**
**.vscode**